/* ============ ID Selectors ============ */

#title{
    background-color: #ff4c68;
}

.navbar-brand{
    size: 20px;
}

/* ============ Tag Selectors ============ */

h1{
    font-family: 'Montserrat', sans-serif;
    size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
