/* ============ ID Selectors ============ */

#title{
    background-color: #ff4c68;
}

.btn1{
    align-items: center;
}



/* ============ Tag Selectors ============ */

h1{
    font-family: 'Montserrat', sans-serif;
    size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
}
